---
import Layout from "../layouts/Layout.astro"
---

<Layout title="about page">
  <main>
    <p>テスト</p>
  </main>
</Layout>

<style lang="scss">
  main {
    background-color: skyblue;
    p {
      font-size: 24px;
      color: red;
    }
  }
</style>
